.content {
    background: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 44px;
    min-width: auto;
    min-height: auto;
}

.main {
    width: 1483px;
    height: 900px;
    background: #DA6C3D;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 170px;
    animation-name: main;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.next {
    width: 322px;
    height: 900px;
    background: #DA983D;
    border-radius: 30px;
    animation-name: next;
    animation-duration: 2s;
}

.title {
    width: 100%;
    height: 146px;
    font-family: 'Noto Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 131px;
    text-align: center;
    color: rgba(1, 1, 1, -1);
    margin: 0;
    animation-name: text;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.sub-title {
    width: 100%;
    height: 274px;
    font-family: 'Noto Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    text-align: right;
    color: rgba(1, 1, 1, -1);
    margin: 0;
    padding-right: 70px;
    animation-name: text;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.next_sl {
    animation-name: next_sl;
    animation-duration: 1s;
}

/** Анимации **/



@keyframes main {
    from {
        transform: translateX(-2000px);
        background-color: #7084A3;
    }

    to {
        transform: translateX(0px);
        background-color: #DA6C3D;
    }
}

@keyframes next {
    from {
        transform: translateY(-2000px);
    }

    to {
        transform: translateY(0px);
    }
}


@keyframes next_sl {
    from {
        width: 100%;
    }

    to {
        width: 200%;
    }
}


@keyframes text {
    from {
        transform: translateY(10px);

    }

    to {
        transform: translateY(0px);
        color: #fff;
    }
}

/*
@keyframes main2 {
    from {
        transform: translateX(-2000px);
        background-color: #DA6C3D;
    }

    to {
        transform: translateX(0px);
        background-color: #DA983D;
    }
}