.main__product {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    background-color: initial;
    height: auto;
}

.preview_auther {
    text-align: center;    
}

.payment__details {
    text-align: left;
    margin: 20px 0;
    font-size: 14px;
    color: #444;
}

.payment__details > * {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.payment__details span {
    font-weight: bold;
    color: #0A183B;
}

/** Мобильная версия **/

@media (max-width: 1200px) {
    .product__content {
        width: 115%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .preview_title {
        margin-bottom: 0;
        font-size: 25px;
    }

    .preview__description, .product__information, .product_promo, .product_price, .product_preview {
        width: 80%;
        height: 20%;
        border-radius: 15px;
    }

    .preview_auther {
        font-size: 15px;   
        margin-top: 0;
    }

    .description-title {
        padding-top: 30px;
    }

    .description-p__product {
        font-size: 15px;
        margin: 0 10px;
    }

    .information__p:first-child {
        padding-top: 30px;
    }
    .information__p:last-child, .description-p__product {
        padding-bottom: 30px;
    }

    .product_promo_input {
        margin: 30px 0;
        width: 120px;
        font-size: 10px;
    }

    
    .product_promo > * {
        transform: scale(0.9);
    }

    .product_actived {
        width: auto;
    }

    .preview_imges {
        padding-bottom: 30px;
    }

    .payment__window {
    width: 90%;
  }
}
